ul, li {cursor:pointer;}

li.root_item {list-style-type: none;list-style-image: url(../images/empty.gif);}

li.open_item {list-style-image: url(../images/minus.gif);}

li.close_item {list-style-image: url(../images/plus.gif);}

li.list_item {list-style-type: none;list-style-image: url(../images/empty.gif);}

ul.open_list {display:block;list-style-type: none;list-style-image: none;}

ul.close_list {display:none;list-style-type: none;list-style-image: none;}